.loginPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.loginPageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.invalidCredentialsDiv {
    text-align: center;
    color: red;
}

.loginPage > form {
    display: flex;
    flex-direction: column;
}

.loginPage > form > h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.loginHeader {
    justify-content: center;
    background: #f68053;
    border-radius: 10px;
    margin-bottom: 20px;
}

.loginButton {
    margin: 10px;
}

.loginIcon {
    margin-right: 2px;
}


a {
    margin: 10px;
    width: 96%;
    align-self: center;
}

.registerButton {
    width: 10%;
}

.user {
    width: 100px;
    height: 100px;
    overflow: visible !important;
    position: absolute;
    top: calc(1px);
    left: calc(50% - 50px);
    border-radius: 50%;
}

/*smallScreen*/
@media screen and (min-width: 580px) {

    .loginPage > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 90%;
    }
}
