table {
    width: 100%;
}

mat-card {
    margin: 4px;
    max-height: fit-content
}

mat-card-actions > button {
    margin: 4px;
}

.example-container {
    height: 400px;
    max-width: 100%;
    overflow: auto;
}
