.infos {
    text-decoration: blue;
}

.coursesPageContainer {

}

.studentListPage{
    background: white!important;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.studentListPageContainer {
    display: flex;
    justify-content: center;
}